@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
     -moz-hyphens: $mode;
      -ms-hyphens: $mode;
       -o-hyphens: $mode;
          hyphens: $mode;
}

@mixin verses-columns($columnWidth, $columnCount, $columnRuleWidth, $columnRuleStyle, $columnRuleColor, $columnGap) {
	-webkit-columns: $columnWidth $columnCount;
	   -moz-columns: $columnWidth $columnCount;
	        columns: $columnWidth $columnCount;
	-webkit-column-rule: $columnRuleWidth $columnRuleStyle $columnRuleColor;
	   -moz-column-rule: $columnRuleWidth $columnRuleStyle $columnRuleColor;
	        column-rule: $columnRuleWidth $columnRuleStyle $columnRuleColor;
	-webkit-column-gap: $columnGap;
	   -moz-column-gap: $columnGap;
	        column-gap: $columnGap;
}

@mixin verses-phone-columns($columnCount) {
  -webkit-column-count: $columnCount;
     -moz-column-count: $columnCount;
          column-count: $columnCount;
}