body {
  font-family: $font_family;
  font-size: $font_size;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga=1";
  -webkit-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  color: $text_color;
  background-color: $background_color;
  max-width: 760px;
  margin: 0 auto;
  padding: 2%;
  @include hyphens;
}

.chapter, .verses, .metadata {
  a {
    text-decoration: none;
    margin-bottom: .1em;
    color: $text_color;
    border-bottom: 1px solid $link_color_hover;

    &:hover {
      background: $link_color_hover;
    }

  }
}

.chapter {
  margin-top: 2em;

  h1, h2 {
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
  }

  h1 {
    padding: 1em auto;
  }

  &:before {
    display: block;
    font-size: 7em;
    text-align: center;
    font-family: 'scriptures';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\6e";
  }
}

.verses {
  /* $columnWidth, $columnCount, $columnRuleWidth, $columnRuleStyle, $columnRuleColor, $columnGap */
  @include verses-columns(12em, 2, 1px, outset, lighten($text_fade, 10%), 1.5em);

  p {
    padding: 0;
    margin: 0;
  }

  .verseNumber {
    color: $text_fade;
    font-size: $font_size_mini;
  }

  /* Do not show verse number for first verse */
  p:first-child span:nth-of-type(1) {
    display: none;
  }

  /* Drop cap for first letter of first verse */
  p:first-child:first-letter {
    font-size: 7em;
    float: left;
    margin: 0 .1em 0 0;
    line-height: 0.8;
  }

  .shortest {
    background: $highlight_color;
  }
}

.nextColumn {
  font-size: $font_size_mini;
}

.studyIntro, .studySummary, .intro {
  font-style: italic;
  padding-bottom: 1em;
  font-size: $font_size_large;
}

.studyIntro, .intro {
  padding: 1em 0;
}

// Small caps
.caps {
  font-style: normal;
  font-size: .8em;
}

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  body {
    //font-size: $font_size_tablet;
    padding: 4%;
  }
}

// Phones only
@media (max-width: 767px) {
  body {
    font-size: $font_size_phone;
    line-height: $line_height_phone;
    padding: 5%;
  }

  .studyIntro, .studySummary, .intro {
    font-size: 1em;
  }

  .verses {
    // Number of columns
    @include verses-phone-columns(1);
  }

  .nextColumn {
    display: none;
  }
}

// Home page
/*.volume {
	h2 {
		font-size: 1em;
		float: left;
		width: 5em;
		margin: 1em 1em 1em 0;
	}
	h3 {
		margin: 0 1em 1em 0;
	}
	.start_date, .end_date {
		margin: 1em 0 1em 0;
	}
	.time-based, .length-based {
		float: left;
		margin: 1em;
	}
}*/

h2 {
  font-size: 1em;
}

/* http://www.responsivegridsystem.com/ */

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.volume {
  width: 15%;
}

.schedule {
  width: 40%;
}

.calendar {
  width: 185px;
}

.num {
  font-style: normal;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .schedule, .volume {
    width: 100%;
  }
}
