{% autoescape false %}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Scripture Reading Schedule</title>
  <link rel="alternate" type="text/html" href="{{ url_schedule }}"/>
  <link rel="self" type="application/atom+xml" href="{{ url_schedule }}"/>
  <id>{{ url_schedule }}</id>
  <updated>{{ updated }}</updated>
  <entry>
    <title>{{ schedule.reading }}</title>
    <link rel="alternate" type="text/html" href="{{ url_date }}"/>
    <id>tag:jaredhowland.com,{{ updated }}:{{ url_date }}</id>
    <published>{{ updated }}</published>
    <updated>{{ updated }}</updated>
    <author>
      <name></name>
    </author>
    <content type="html" xml:base="{{ url_schedule }}" xml:lang="en"><![CDATA[

{% endautoescape %}
