{% autoescape false %}
{% spaceless %}

{# Determine pluralization of verse_count #}
{% set verse_count_display %}
{% set verse_count_format = schedule.verse_count | number_format %}
{% if schedule.verse_count == 1 %}
{{ verse_count_format }} verse
{% else %}
{{ verse_count_format }} verses
{% endif %}
{% endset %}

{# Determine pluralization of word_count #}
{% set word_count_display %}
{% set word_count_format = schedule.word_count | number_format %}
{% if schedule.word_count == 1 %}
{{ word_count_format }} word
{% else %}
{{ word_count_format }} words
{% endif %}
{% endset %}

{# Determine pluralization of est_time #}
{% set est_time_display %}
{% set est_time_format = schedule.est_time | number_format %}
{% if schedule.est_time == 1 %}
{{ est_time_format }} minute
{% else %}
{{ est_time_format }} minutes
{% endif %}
{% endset %}

{# Format previous link #}
{% set prev %}
{% if prev_url %}
<a href="{{ prev_url }}">&larr; Previous</a>
{% else %}
&larr; Previous
{% endif %}
{% endset %}

{# Format next link #}
{% set next %}
{% if next_url %}
<a href="{{ next_url }}">Next &rarr;</a>
{% else %}
Next &rarr;
{% endif %}
{% endset %}

{% endspaceless %}
{% include '_html_head.tmpl' %}
{% include '_body.tmpl' %}
{% include '_html_foot.tmpl' %}

{% endautoescape %}
